@charset "utf-8";
body {
    min-width: 560px;
}
.banner603 {
    position: relative;
}
.banner603 a {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 604px;
    background: url(../images/banner.jpg)no-repeat top center;
}
.main {
    position: relative;
}
.main .slider {
    height: 454px;
    width: 730px;
    margin-left: 220px;
    margin-top: 12px;
    float: left;
    position: relative;
    overflow: hidden;
}

.slider .slider-box {
    position: absolute;
    top: 0;
    left:0;
}
.slider .slider-box li {
    position: absolute;
}
.slider .slider-box .fore1 {
    z-index: 7;
}
.main .slider .circle {
    position: absolute;
    left:50%;
    margin-left:-100px;
    bottom: 8px;
    z-index: 8;
}
.main .slider .circle li {
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
    background: #3E3E3E;
    float: left;
    color: #ffffff;
    margin: 0 2px;
    text-align: center;
}
.main .slider .circle .current {
    background: #B61B1F;
}
.main .slider .arrow {
    width: 100%;
    height: 62px;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    z-index: 10;
    display: none;
}
.main .slider .arrow-l,
.main .slider .arrow-r {
    display: block;
    width: 28px;
    height: 62px;
    font:500 18px/62px "宋体";
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,.3);
}
.main .slider .arrow-l {
    float: left;
}
.main .slider .arrow-r {
    float: right;
}

/*新闻服务模块*/
.main  .news {
    width: 248px;
    height: 372px;
    border: 1px solid #E4E4E4;
    margin-top: 12px;
    float: right;
    overflow: hidden;
}
.main .news .jd-kb .dt{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dashed #E8E8E7;
}
.main .news .jd-kb h3 {
    font:14px/32px "微软雅黑";
    float: left;
    padding-left: 15px;
}
.main .news .jd-kb .dt a {
    float: right;
    padding-right: 16px;
    font-size: 13px;
    font-family: "宋体";
}
.main .news .jd-kb .dd {
    height: 130px;
}
.main .news .jd-kb .dd a {
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
}
.main .news .jd-kb .dd a span {
    font-weight: 700;
    padding-right: 10px;
}

.main .news .jd-service ul {
    width: 260px;
    overflow: hidden;
}
.main .news .jd-service li {
    width: 62px;
    height: 70px;
    border-top: 1px solid #E8E8E7;
    border-right: 1px solid #E8E8E7;
    float: left;

}
.main .news .jd-service li a {
    display: block;
    height: 70px;
    text-align: center;
    padding-top: 44px;
    position: relative;

}
.main .news .jd-service .mian {
    background: url(../images/mian.png)no-repeat  top right;
}
.main .news .jd-service .song {
    background: url(../images/song.png)no-repeat 45px top;
}
.main .news .jd-service li  i {
    display: block;
    width: 25px;
    height: 25px;
    background: url(../images/icon_lifeserv.png)no-repeat;
    position: absolute;
    top: 12px;
    left: 18px;
}
.main .news .liuxing {
    position: absolute;
    margin-top: 2px;
}

/*jd热卖*/
.jd-hot .hotmale {
    position: relative;
    margin-top:10px;
}
.jd-hot .hotmale .hotmale-l {
    float: left;
}

.jd-hot .hotmale .hotmale-r {
    float: left;
    width: 1000px;
    position: relative;
    height: 164px;
    overflow: hidden;

}
.jd-hot .hotmale .hotmale-r ul {
    width: 1000%;
    position: absolute;
    top: 0;
    left: -1000px;
}
.jd-hot .hotmale .hotmale-r li {
    float: left;
}
.jd-hot .hotmale .hotmale-r li  div{
    float: left;
    width: 249px;
    margin-right: 1px;
    overflow: hidden;
}
.jd-hot .hotmale .hotmale-r .hotmale-arrow {
    display: none;
}
.jd-hot .hotmale .hotmale-r .hotmale-prev,
.jd-hot .hotmale .hotmale-r .hotmale-next {
    width: 28px;
    height: 62px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    background: rgba(0,0,0,.3);
    color: #ffffff;
    text-align: center;
    font: 22px/62px "宋体";
    
}
.jd-hot .hotmale .hotmale-r .hotmale-prev {
    left:0;
}
.jd-hot .hotmale .hotmale-r .hotmale-next {
    right:0;
}
.gussyou-top {
    height: 36px;
    width: 100%;
    margin-top: 23px;
}
.gussyou-top h3 {
    height: 30px;
    float: left;
    font: 400 22px/30px "微软雅黑";
    color: #333;
    padding-right: 228px;
    background: url(../images/homebg.png)no-repeat 90px -91px;
}
.gussyou-top a {
    float: right;
    height: 18px;
    font: 400 12px/18px "宋体";
    padding-top: 8px;
    padding-right: 30px;
    background: url(../images/homebg.png)no-repeat -305px -23px;
}

.guessyou-bottom {
    width: 1208px;
    height: 259px;
    border: 1px solid #E8E8E7;
}
.guessyou-bottom .guessyou-bottom-l {
    height: 259px;
    width: 202px;
    border-right: 1px solid #E8E8E7;
}
.guessyou-bottom .guessyou-bottom-l .like {
    height: 16px;
    padding-top: 38px;
    text-align: center;
}
.guessyou-bottom .guessyou-bottom-l .like-list {
    margin-left: 21px;
    margin-top: 18px;

}
.guessyou-bottom .guessyou-bottom-l .like-list a {
    display: block;
    width: 71px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #E8E8E7;
    float: left;
    margin-right: 14px;
    margin-top: 18px;
    text-align: center;
    font-family: "微软雅黑";
}
.guessyou-bottom .guessyou-bottom-r li {
    float: left;
    width: 200px;
    text-align: center;
    padding-top: 20px;
}

.guessyou-bottom .guessyou-bottom-r li .p-info {
    margin-top: 24px;
}
.guessyou-bottom .guessyou-bottom-r li .p-info .pro-name {
    font-family:"宋体";
    font-size: 12px;
}
.guessyou-bottom .guessyou-bottom-r li .p-info .pro-price {
    margin-top: 20px;
    color: #C81660;
    font-size: 16px;
    font-weight:700;
}
/*jd品质生活*/
.jd-life-top {
    height: 36px;
    width: 100%;
    margin-top: 23px;
}
.jd-life .jd-life-top h3 {
    height: 30px;
    float: left;
    font: 400 22px/30px "微软雅黑";
    color: #333;
}
.jd-life .jd-life-bottom {
    width: 1208px;
    height: 405px;
    border: 1px solid #E8E8E7;
}
.jd-life .jd-life-bottom .jd-life-bottom1,
.jd-life .jd-life-bottom .jd-life-bottom3 {
    border-right: 1px solid #E8E8E7;
    width: 403px;
    height: 405px;
    float: left;
    background: #F7F7F7;
}

.jd-life-bottom1 .bottom-top,
.jd-life-bottom3 .bottom-top {
    display: block;
    width: 403px;
    height: 246px;
    border-bottom: 1px solid #E8E8E7;
    overflow: hidden;
    position: relative;

}
.jd-life-bottom1 .bottom-top .area-tit,
.jd-life-bottom3 .bottom-top .area-tit,
.jd-life-bottom2 .bottom-top .area-tit
{
    height: 40px;
    margin:0 20px;
    text-align: center;
    border-bottom: 1px dashed #E8E8E7;
    font: 700 14px/40px "微软雅黑";
    color: #333;
}
.jd-life-bottom1 .bottom-top .sub-tit,
.jd-life-bottom3 .bottom-top .sub-tit,
.jd-life-bottom2 .bottom-top .sub-tit{
     position: absolute;
     top: 100px;
     left: 40px;
 }

.jd-life-bottom1 .bottom-top .sub-tit .tit,
.jd-life-bottom1 .bottom-bottom-l .sub-tit .tit,
.jd-life-bottom1 .bottom-bottom-r .sub-tit .tit,
.jd-life-bottom3 .bottom-top .sub-tit .tit,
.jd-life-bottom3 .bottom-bottom-l .sub-tit .tit,
.jd-life-bottom3 .bottom-bottom-r .sub-tit .tit,
.jd-life-bottom2 .bottom-top .sub-tit .tit,
.jd-life-bottom2 .bottom-bottom-l .sub-tit .tit
{
    font: 700 12px/32px "microsoft yahei";
    color: #333;
}
.jd-life-bottom1 .bottom-top .sub-tit .desc,
.jd-life-bottom1 .bottom-bottom-l .sub-tit .desc,
.jd-life-bottom1 .bottom-bottom-r .sub-tit .desc,
.jd-life-bottom3 .bottom-top .sub-tit .desc,
.jd-life-bottom3 .bottom-bottom-l .sub-tit .desc,
.jd-life-bottom3 .bottom-bottom-r .sub-tit .desc,
.jd-life-bottom2 .bottom-top .sub-tit .desc,
.jd-life-bottom2 .bottom-bottom-l .sub-tit .desc
{
    font: 400 12px/16px "microsoft yahei";
    color: #333;
}
.jd-life-bottom1 .bottom-top .sub-tit .promotion,
.jd-life-bottom1 .bottom-bottom-l .sub-tit .promotion,
.jd-life-bottom1 .bottom-bottom-r .sub-tit .promotion,
.jd-life-bottom3 .bottom-top .sub-tit .promotion,
.jd-life-bottom3 .bottom-bottom-l .sub-tit .promotion,
.jd-life-bottom3 .bottom-bottom-r .sub-tit .promotion,
.jd-life-bottom2 .bottom-top .sub-tit .promotion,
.jd-life-bottom2 .bottom-bottom-l .sub-tit .promotion
{
    font: 400 12px/16px "microsoft yahei";
    color: #C81623;
}
.jd-life-bottom1 .bottom-bottom-l,
.jd-life-bottom3 .bottom-bottom-l,
.jd-life-bottom2 .bottom-bottom-l

{
    display: block;
    width: 201px;
    height: 159px;
    border-right: 1px solid #E8E8E7;
    position: relative;
    float: left;
}
.jd-life-bottom1 .bottom-bottom-l .sub-tit,
.jd-life-bottom1 .bottom-bottom-r .sub-tit,
.jd-life-bottom3 .bottom-bottom-l .sub-tit,
.jd-life-bottom3 .bottom-bottom-r .sub-tit,
.jd-life-bottom2 .bottom-bottom-l .sub-tit {
    position: absolute;
    top: 70px;
    left: 20px;
}
.jd-life-bottom1 .bottom-bottom-r,
.jd-life-bottom3 .bottom-bottom-r

{
    display: block;
    width: 200px;
    height: 159px;
    float: right;
    position: relative;
}
.jd-life .jd-life-bottom .jd-life-bottom2 {
    width: 228px;
    height: 405px;
    border-right: 1px solid #E8E8E7;
    float: left;
}
.jd-life .jd-life-bottom .jd-life-bottom2 .bottom-top {
    display: block;
    width: 228px;
    height: 246px;
    border-bottom: 1px solid #E8E8E7;
    overflow: hidden;
    position: relative;

}


/*banner1 */
.jd-hot .banner1 {
    margin: 19px 4px;
    border-bottom:0;
    text-align: center;
}
.jd-hot .banner1 a{
    float: left;
}

/*商品分类*/
/*分类头部和tab*/
.jd-produts .mt {
    height: 36px;
    width: 100%;
    border-bottom: 1px solid #c81623;
}
.jd-produts .mt h3 {
    height: 30px;
    float: left;
    font: 400 22px/30px "微软雅黑";
    color: #333;
    float: left;
    padding-left: 40px;
    position: relative;

}
.jd-produts .mt h3 i {
    width: 31px;
    height: 25px;
    background: url(../images/floor.png)no-repeat 0 0 ;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 13px;
    text-indent: 4px;
}
/*楼层 图标*/


.jd-produts .mt h3::before {
    content: '';
    width: 31px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/sprite-1.png)no-repeat 0 -35px ;
}

.jd-produts .floor.floor-current h3 i {
    background: url(../images/sprite-1.png)no-repeat 0 0;
    -webkit-animation-name: move;
    -moz-animation-name: move;
    animation-name: move;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
@keyframes move {
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: 25px;
    }

}


.jd-produts .mt .tab {
    float: right;
    height: 34px;
    border: 1px solid #EBEBEB;
    border-bottom: none;


}
.jd-produts .mt .tab .tab-item {
    float: left;
    display: inline;
    height: 34px;
    position: relative;
}

.jd-produts .mt .tab .tab-item a {
    float: left;
    height: 34px;
    padding: 0 16px;
    text-decoration: none;
    line-height: 34px;
    overflow: hidden;
    background: #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    white-space: nowrap;
}
.jd-produts .mt .tab .tab-item span {
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #EBEBEB;
    margin-top: 10px;
}


/*1楼产品*/
.clothes .mc {
    height: 632px;
    overflow: hidden;
    position: relative;
}
.clothes .mc .side {
    float: left;
    width: 330px;
    overflow: hidden;

}
.clothes .mc .side .themes {
    height: 92px;
    margin-top: -222px;
    position: relative;
    background: rgba(255,255,255,.5);
    padding-left: 24px;

}
.clothes .mc .side .themes li {
    float: left;
    width: 100px;
    overflow: hidden;
    padding: 10px 0;
}

.clothes .mc .side .themes  i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    height: 26px;
    width: 26px;
    background: url(../images/clothesicon.png)no-repeat;
}
.clothes .mc .side .themes .fore6 {
    margin-left: -6px;
    width: 110px;
}
.clothes .mc .side .themes .fore2 i {
    background-position: 0 -26px;
}
.clothes .mc .side .themes .fore3 i {
    background-position: 0 -52px;
}
.clothes .mc .side .themes .fore4 i {
    background-position: 0 -78px;
}
.clothes .mc .side .themes .fore5 i {
    background-position: 0 -104px;
}
.clothes .mc .side .themes .fore6 i {
    background-position: bottom right;
    margin-right: 5px;
}
.clothes .mc .side .themes li span {
    height: 26px;
}


.clothes .mc .side .words {
    height: 130px;
    background: rgba(255,255,255,0.7);
    position: relative;
    overflow: hidden;
}

.clothes .mc .side .words .fore1 {
    width: 139px;
    float: left;
    padding: 10px 0 0 25px;
}
.clothes .mc .side .words .fore1 a,
.clothes .mc .side .words .fore2 a
{
    margin: 5px;
    display: inline-block;
}
.clothes .mc .side .words .fore2 {
    width: 139px;
    float: right;
    padding: 10px 25px 0 0;
}



.clothes .mc .main .fore {
    float: left;
    width: 661px;
    overflow: hidden;

}
.clothes .mc .main li {
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    height: 157px;
}


.clothes .mc .main .fore1 {
    float: left;
    width: 440px;
}
.clothes .mc .main .fore2 {
    padding-top: 315px;
    float: left;
    
}
.clothes .mc .main .fore3 {
    float: right;
    margin-top: -158px;
}


.clothes .mc .main .fore4 {
    float: right;
}
.clothes .mc .main .fore5 {
    float: right;
}
.clothes .mc .main .fore6 {
    float: right;
    height: 156px;
    overflow: hidden;

}

.clothes .mc .main-extra{
    float: left;
    width: 218px;
    overflow: hidden;
}
.clothes .mc .main-extra li {
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    overflow: hidden;
}
.clothes .mc .main-extra li a{

}
.clothes .mc .main-extra .fore3 {
    height: 314px;
    overflow: hidden;
}

/*brand开始*/
 .clothes .brand,
 .cosmetics .brand,
 .tel .brand,
 .electrical .brand,
 .digital .brand
 {
    height: 59px;
    margin-top: 10px;
    background: #F7F7F7;
     margin-bottom: 20px;
     overflow: hidden;
}
.clothes .brand ul ,
.cosmetics .brand ul,
.tel .brand ul,
.electrical .brand ul,
.digital .brand ul
{
    text-align: center;
}
 .clothes .brand ul li,
 .cosmetics .brand ul li,
 .tel .brand ul li,
 .electrical .brand ul li,
 .digital .brand ul li
 {
    float: left;
     height: 40px;
     width: 120px;
     margin: 8px 0;
     border-right: 1px dotted #c0c0c0;
 }

.clothes .brand ul .fore10,
.cosmetics .brand ul .fore10,
.tel .brand ul .fore10,
.electrical .brand ul .fore10,
.digital .brand ul .fore10
{
    border-right:none;
}


/*2楼开始*/

.cosmetics .mc .side {
    float: left;
}
.cosmetics .mc {
    position: relative;
}
.cosmetics .main-body {
    width: 1000px;
}
.cosmetics .mc .main {
    float: left;
    width: 440px;
    height: 472px;
    padding-left: 340px;
}
.cosmetics .mc .main  li{
    width: 220px;
    float: left;
    
    overflow: hidden;
}
.cosmetics .mc .main  li a {
    display: block;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    overflow: hidden;
}
.cosmetics .mc .main-extra {
    float: left;
    width: 220px;
}
.cosmetics .mc .main-extra li a {
    display: block;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    overflow: hidden;

}


/*3楼手机开始  4楼家用电器 5楼电脑数码*/
.tel {

}
.tel .mc,
.electrical .mc,
.digital .mc {
    position: relative;
    overflow: hidden;
}

.tel .side,
.electrical .side,
.digital .side {
    float: left;
}

.tel .side-inner .themes,
.electrical .side-inner .themes,
.digital .side-inner .themes {
    height: 46px;
    line-height:46px;
    margin-top: -239px;
    background: rgba(255,255,255,.5);
    position: relative;
    padding-left: 26px;
}
.tel .side-inner .themes li,
.electrical .side-inner .themes li,
.digital .side-inner .themes li {
    float: left;
    width: 100px;
    height: 26px;
    font-family: "微软雅黑";
    font-size: 14px;
    
}
.tel .side-inner .themes i,
.electrical .side-inner .themes i,
.digital .side-inner .themes i {
    display: block;
    float: left;
    width: 26px;
    height: 26px;
    background: url(../images/mobilesicon.png)no-repeat;
    margin-right: 10px;
    margin-top: 10px;
    
}
.tel .side-inner .themes .fore1 i,
.electrical .side-inner .themes .fore1 i,
.digital .side-inner .themes .fore1 i {
    background-position: 0 0;
}
.tel .side-inner .themes .fore2 i,
.electrical .side-inner .themes .fore2 i,
.digital .side-inner .themes .fore2 i {
    background-position: 0 -26px;
}
.tel .side-inner .themes .fore3 i,
.electrical .side-inner .themes .fore3 i,
.digital .side-inner .themes .fore3 i {
    background-position: 0 -52px;
}

.tel .side-inner .assists,
.electrical .side-inner .assists,
.digital .side-inner .assists {
    width: 330px;
    height: 72px;
    background: rgba(255,255,255,.3);
    position: relative;
    overflow: hidden;
 }
.tel .side-inner .assists li,
.electrical .side-inner .assists li,
.digital .side-inner .assists li {
    width: 128px;
    float: left;
    padding-left: 28px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #666;
    overflow: hidden;
    
}
.tel .side-inner .assists .fore1,
.electrical .side-inner .assists .fore1,
.digital .side-inner .assists .fore1 {
    margin-top: 20px;
}
.tel .side-inner .assists .fore2,
.electrical .side-inner .assists .fore2,
.digital .side-inner .assists .fore2 {
    margin-top: 20px;
}
.tel .side-inner .assists .fore3,
.electrical .side-inner .assists .fore3,
.digital .side-inner .assists .fore3 {
    margin-top: 5px;
}
.tel .side-inner .assists .fore4,
.electrical .side-inner .assists .fore4,
.digital .side-inner .assists .fore4 {
    margin-top: 5px;
}

.tel .side-inner .words,
.electrical .side-inner .words,
.digital .side-inner .words {
    width: 330px;
    height: 121px;
    background: rgba(255,255,255,.3);
    position: relative;
    overflow: hidden;
}
.tel .side-inner .words li,
.electrical .side-inner .words li,
.digital .side-inner .words li {
    line-height: 26px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #c0c0c0;
    overflow: hidden;

}
.tel .side-inner .words li a,
.electrical .side-inner .words li a,
.digital .side-inner .words li a {
    display: inline-block;
    margin-right: 5px;
}
.tel .side-inner .words .fore1,
.electrical .side-inner .words .fore1,
.digital .side-inner .words .fore1 {
    float: left;
    width: 120px;
    padding-left: 28px;
}
.tel .side-inner .words .fore2,
.electrical .side-inner .words .fore2,
.digital .side-inner .words .fore2 {
    float: right;
    width: 120px;
    padding-right: 28px;
}








/*3 4 5 公共main部分*/


.tel .main,
.electrical .main,
.digital .main
{
    float: left;
    width: 659px;
    height: 473px;
}


.tel .main ul li,
.electrical .main ul li,
.digital .main ul li
{
    float: left;
}


.tel  .main ul li a,
.electrical  .main ul li a,
.digital  .main ul li a,
.tel  .main-extra ul li a,
.electrical  .main-extra ul li a,
.digital  .main-extra ul li a
{
    display: block;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    overflow: hidden;
}



.tel .main ul .fore1,
.electrical .main ul .fore1,
.digital .main ul .fore1
{
    padding-left: 439px;
}



.tel .main ul .fore2,
.electrical .main ul .fore2,
.digital .main ul .fore2{
    padding-left: 439px;
}



.tel .main ul .fore5,
.electrical .main ul .fore5,
.digital .main ul .fore5
{
    width: 218px;
}



.tel .main-extra,
.electrical .main-extra,
.digital .main-extra
{
    float: left;
}










.electrical .side-inner .themes i {
    background: url(../images/electronicsicon.png)no-repeat;
}
.electrical .side-inner .themes .fore2 i {
    background-position: 70px 70px;
}
.electrical .side-inner .themes .fore3 {
    padding-left:0;
}
.electrical .side-inner .themes .fore3 i {
    background-position: 0 -26px;
}


/*5f side-assists*/
.digital .side-inner .themes i {
     background: url(../images/digitalsicon.png)no-repeat;
 }




/*1f轮播图*/
.clothes .mc .main-slider {
    width: 440px;
    height: 315px;
    position: absolute;
    top: 158px;
    left: -2px;
    border-left: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    overflow: hidden;
}
.clothes .mc .main-slider .slider-box {
    width: 800%;
    position: absolute;
    top: 0;
    left: -440px;
}
.clothes .mc .slider-box li {
    float: left;
}
.clothes .mc .main-slider .circle {
    width: 80px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -40px;
}
.clothes .mc .main-slider .circle li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #333;
    float: left;
    margin-right: 5px;
}

.clothes .mc .main-slider .arrow {
    display: none;
    height: 62px;
    width: 100%;
    position: absolute;
    top: 50%;
}
.clothes .mc .main-slider .arrow .arrow-l,
.clothes .mc .main-slider .arrow .arrow-r {
    display: block;
    width: 28px;
    height: 62px;
    font:500 18px/62px "宋体";
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,.3);
}
.clothes .mc .main-slider .arrow .arrow-l {
    float: left;
}
.clothes .mc .main-slider .arrow .arrow-r {
    float: right;
}

.clothes .mc .main-slider .circle .current {
    background: #B61B1F;
}


/*2f轮播图*/
.cosmetics .mc .main-slider {
    width: 340px;
    height: 474px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.cosmetics .mc .main-slider .slider-box {
    width: 800%;
    position: absolute;
    top: 0;
    left: -340px;
}
.cosmetics .mc .slider-box li {
    float: left;
    width: 340px;
}
.cosmetics .mc .slider-box li a {
    display: block;
}
.cosmetics .mc .slider-box li a:first-child {
    border-right: 1pc solid #EBEBEB;
    border-bottom: 1px dotted #ccc;
 }
.cosmetics .mc .slider-box li a:last-child {
    border-right: 1pc solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}
.cosmetics .mc .main-slider .circle {
    width: 80px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -40px;
}
.cosmetics .mc .main-slider .circle li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #333;
    float: left;
    margin-right: 5px;
}

.cosmetics .mc .main-slider .arrow {
    display: none;
    height: 62px;
    width: 100%;
    position: absolute;
    top: 50%;
}
.cosmetics .mc .main-slider .arrow .arrow-l,
.cosmetics .mc .main-slider .arrow .arrow-r {
    display: block;
    width: 28px;
    height: 62px;
    font:500 18px/62px "宋体";
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,.3);
}
.cosmetics .mc .main-slider .arrow .arrow-l {
    float: left;
}
.cosmetics .mc .main-slider .arrow .arrow-r {
    float: right;
}

.cosmetics .mc .main-slider .circle .current {
    background: #B61B1F;
}


/*3楼轮播图*/
.tel .mc .main-slider,
.electrical .mc .main-slider,
.digital .mc .main-slider {
    width: 440px;
    height: 236px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.tel .mc .main-slider .slider-box ,
.electrical .mc .main-slider .slider-box,
.digital .mc .main-slider .slider-box{
    width: 800%;
    position: absolute;
    top: 0;
    left: -440px;
}
.tel .mc .slider-box li,
.electrical .mc .slider-box li,
.digital .mc .slider-box li
{
    float: left;
}
.tel .mc .main-slider .circle,
.electrical .mc .main-slider .circle,
.digital .mc .main-slider .circle
{
    width: 80px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -40px;
}
.tel .mc .main-slider .circle li,
.electrical .mc .main-slider .circle li,
.digital .mc .main-slider .circle li
{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #333;
    float: left;
    margin-right: 5px;
}

.tel .mc .main-slider .arrow,
.electrical .mc .main-slider .arrow,
.digital .mc .main-slider .arrow
{
    display: none;
    height: 62px;
    width: 100%;
    position: absolute;
    top: 90px;
}
.tel .mc .main-slider .arrow .arrow-l,
.tel .mc .main-slider .arrow .arrow-r,
.electrical .mc .main-slider .arrow .arrow-l,
.electrical .mc .main-slider .arrow .arrow-r,
.digital .mc .main-slider .arrow .arrow-l,
.digital .mc .main-slider .arrow .arrow-r
{
    display: block;
    width: 28px;
    height: 62px;
    font:500 18px/62px "宋体";
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,.3);
}
.tel .mc .main-slider .arrow .arrow-l,
.electrical .mc .main-slider .arrow .arrow-l,
.digital .mc .main-slider .arrow .arrow-l
{
    float: left;
}
.tel .mc .main-slider .arrow .arrow-r,
.electrical .mc .main-slider .arrow .arrow-r,
.digital .mc .main-slider .arrow .arrow-r
{
    float: right;
}

.tel .mc .main-slider .circle .current,
.electrical .mc .main-slider .circle .current,
.digital .mc .main-slider .circle .current
{
    background: #B61B1F;
}




/*tab组件*/
.tab-active {
    border-top: 3px solid #A92532;
    border-right: 1px solid #A92532;
    border-left: 1px solid #A92532;
    border-bottom: 1px solid #fff;
    margin: -1px 0 0 -1px;
}


/*tab公共 盒子 */
.main-body {
    position: relative;
    width: 880px;
    float: left;
    overflow: hidden;
}


.mc .main,.mc .main-extra ,.mc .main-slider {
    display: none;
}
.main-body.current .main,
.main-body.current .main-extra,
.main-body.current .main-slider {
    display: block;
}

.main-body .p-list {
    width: 890px;
    height: 474px;
}
.main-body .p-list li {
    width: 185px;
    height: 230px;
    padding: 6px 17px 0;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    float: left;
}
.main-body .p-list li .p-img {
    height: 140px;
    text-align: center;
    padding: 10px 0 2px 0;
}
.main-body .p-list li .p-name {
    height: 28px;
}
.main-body .p-list li .p-price {
    margin-top: 23px;
    font-size: 15px;
    color: #E4393C;
}

.main-body .p-list-extra {
    width: 890px;
}

.main-body .p-list-extra li {
    width: 219px;
    height: 157px;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    float: left;
}



/*电梯*/
.elevator {
    height: 160px;
    width: 30px;
    position: fixed;
    top: 300px;
    left: 50%;
    margin-left: -660px;
    display: none;
    z-index:6;
}
.elevator ul {
    width: 100%;
}
.elevator ul li {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background:url(../images/elevator.png)no-repeat 0 0;
    overflow: hidden;

}
.elevator ul li .etitle :hover {
    background: red;


}
.elevator ul li:first-child {
    background: #ffffff;
}

.elevator ul li a {
    display: block;
    height: 30px;
    width: 30px;
    font: 500 14px/30px "arial";
}

.elevator ul li.current a{
    display: none;
}

.elevator ul li.current .etitle{
     display: block;
     color: #c81623;
 }

.elevator ul li .etitle {
    width: 30px;
    height: 30px;
    font-size: 12px;
    color: #fff;
}




